<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>input</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
    <input v-model.number="message" placeholder="edit me" type="number">
    <p>Message is: {{ message }}</p>


    <br>
    <textarea v-model="message1" placeholder="add multiple lines"></textarea>

    <span>Multiline message is:</span>
    <p style="white-space: pre-line;">{{ message1 }}</p>

    <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
    <label for="jack">Jack</label>
    <input type="checkbox" id="john" value="John" v-model="checkedNames" >
    <label for="john">John</label>
    <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
    <label for="mike">Mike</label>
    <br>
    <span>Checked names: {{ checkedNames }}</span>
    <br>
    <input type="radio" id="one" value="One" v-model="picked" >
    <label for="one">One</label>

    <input type="radio" id="two" value="Two" v-model="picked">
    <label for="two">Two</label>
    <br>
    <span>Picked: {{ picked }}</span>

    <br/>

    <select v-model="selected">
        <option v-for="option in options" v-bind:value="option.value">
            {{ option.text }}
        </option>
    </select>
    <span>Selected: {{ selected }}</span>

</div>
<script type="text/javascript">
    var app7 = new Vue({
        el: '#app',
        data: {
            message:''
            ,message1:''
            ,checkedNames: []
            ,picked: ''
            ,selected: 'A'
            ,options: [
                { text: 'One', value: 'A' },
                { text: 'Two', value: 'B' },
                { text: 'Three', value: 'C' }
            ]
        }
    })
</script>
</body>
</html>