<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>list</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">

</div>

<ul id="example-2">
    <li v-for="(item, index) in items">
        {{ parentMessage }} - {{ index }} - {{ item.message }}
    </li>
</ul>
<ul id="v-for-object" class="demo">
    <div v-for="(value, key, index) in object" :key="index">
        {{ index }}. {{ key }}: {{ value }}
    </div>
</ul>
<script type="text/javascript">
    var app7 = new Vue({
        el: '#app',
        data: {
            show:true
        }
    });
    var example2 = new Vue({
        el: '#example-2',
        data: {
            parentMessage: 'Parent',
            items: [
                { message: 'Foo' },
                { message: 'Bar' }
            ],
            computed:{
                items:function(){
                    return this.items.sort(items);
                },
            }
        }
    });
    //Vue.set(example2.items, 1, {message:'cat'});
    //example2.items.splice(0, 1, {message:'dog'});
    //example2.items.push({message:'pander'});
    //example2.items.pop({message:'pander'});
    //example2.items.shift({message:'dog'});
    //example2.items.unshift({message:'pander'});


    var forobject = new Vue({
        el: '#v-for-object',
        data: {
            object: {
                firstName: 'John',
                lastName: 'Doe',
                age: 30
            }
        }
    });
    Vue.set(forobject.object, 'sex', '男');
    forobject.object = Object.assign({}, forobject.object, {
        aa: 27,
        bb: 'Vue Green'
    })
</script>
</body>
</html>